Color Palette 1
https://skitch.com/leemcalilly/rs7ae/palette-slsg-palette-1-colourlovers

Jalapeno
b45439
(180, 84, 57)

Emberglow
da7f55
(218, 127,85)

Sand Trap 
bba795
(187, 167, 149)

Naval
303a4c
(48, 58, 76)

Honied White
(247, 239, 219)
f7efdb

------------------

Color Palette 2
https://skitch.com/leemcalilly/rs7af/palette-slsg-palette-2-colourlovers

Dark Green
558E61
(84, 142, 97)

Light Green
81A581
(129, 165, 129)

Naval
303a4c
(48, 58, 76)

Indigo Batik
4d5c6d
(77, 92, 109)

Reserved White
e0e0da
(224, 224, 218)

------------------

Color Palette #3
https://skitch.com/leemcalilly/rs72a/palette-slsg-palette-3-colourlovers


------------------
Standard White
fdfdfd

Standard Black
333333
-------------------

Colors Not used


-------------------

Font Family
Museo Sans 500