<% page = Page.find('about') -%>
<p id="download_now">
	<%= link_to "Download it Now!", '/system/resources/BAhbBlsHOgZmSSItMjAxMS8wNC8yMC8yMV8xM180Nl81MTJfc2FtcGxlX2d1aWRlLnBkZgY6BkVU/sample_guide.pdf' %>
</p>