<% page = Page.find('about') -%>
<p id="download_now">
	<%= link_to "Download it Now!", 'http://withseniorsinmind.org/system/resources/BAhbBlsHOgZmIk4yMDExLzA1LzE2LzE5LzEwLzU1LzMwMC9TZW5pb3JfTGl2aW5nX1N1c3RhaW5hYmlsaXR5X0d1aWRlX3YxXzVfMTVfMTEucGRm/Senior_Living_Sustainability_Guide_v1_5_15_11.pdf' %>	
</p>