<section id='body_content'>
<div id="slideshow">
	<div class="fadein">
	<% @page.images.each do |i| %>
		<%= image_tag (i.thumbnail('566x360').url) %>
 	<% end %>
 	</div><!--end fadein -->
</div><!--end slideshow -->
	<div id="welcome">
		<h1>The Senior Living Sustainability Guide</h2>
		<%=raw @page[:body] %>
	</div>
	<p id="download_it_today"><a href="#">Download It Today!</a></p>
</section>