<section id='body_content'>
<div id="slideshow">
	<div class="fadein">
	<% @page.images.each do |i| %>
		<%= image_tag (i.thumbnail('566x360').url) %>
 	<% end %>
 	</div><!--end fadein -->
</div><!--end slideshow -->
	<h1>The Senior Living Sustainability Guide</h2>
	<%=raw @page[:body] %>
	<p><a href="#">Download it today</a></p>
</section>